certifi==2025.11.12 ; python_version >= "3.12" and python_version < "4"
charset-normalizer==3.4.4 ; python_version >= "3.12" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4" and platform_system == "Windows"
dnspython==2.8.0 ; python_version >= "3.12" and python_version < "4"
filelock==3.20.1 ; python_version >= "3.12" and python_version < "4"
fsspec==2025.12.0 ; python_version >= "3.12" and python_version < "4"
hf-xet==1.2.0 ; python_version >= "3.12" and python_version < "4" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
huggingface-hub==0.36.0 ; python_version >= "3.12" and python_version < "4"
idna==3.11 ; python_version >= "3.12" and python_version < "4"
numpy==2.4.0 ; python_version >= "3.12" and python_version < "4"
orjson==3.11.5 ; python_version >= "3.12" and python_version < "4"
packaging==24.2 ; python_version >= "3.12" and python_version < "4"
pinecone-plugin-assistant==3.0.1 ; python_version >= "3.12" and python_version < "4"
pinecone-plugin-interface==0.0.7 ; python_version >= "3.12" and python_version < "4"
pinecone==8.0.0 ; python_version >= "3.12" and python_version < "4"
prettyprint==0.1.5 ; python_version >= "3.12" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4"
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4"
regex==2025.11.3 ; python_version >= "3.12" and python_version < "4"
requests==2.32.5 ; python_version >= "3.12" and python_version < "4"
safetensors==0.7.0 ; python_version >= "3.12" and python_version < "4"
scapy==2.7.0 ; python_version >= "3.12" and python_version < "4"
six==1.17.0 ; python_version >= "3.12" and python_version < "4"
tokenizers==0.22.1 ; python_version >= "3.12" and python_version < "4"
tqdm==4.67.1 ; python_version >= "3.12" and python_version < "4"
transformers==4.57.3 ; python_version >= "3.12" and python_version < "4"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4"
urllib3==2.6.2 ; python_version >= "3.12" and python_version < "4"
